nav {
  background-color: black;
}

.input-field.left {
    margin-left: 150px;
}

input#search {
    width: 25em;
    border-bottom: transparent;
    margin-top: -1px;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}

.input-field input[type=search]:focus:not(.browser-default)::-webkit-input-placeholder {
  color: black;
}

.input-field input[type=search]:focus:not(.browser-default):-moz-placeholder {
  color: black;
}

.input-field input[type=search]:focus:not(.browser-default)::-moz-placeholder {
  color: black;
}

.input-field input[type=search]:focus:not(.browser-default):-ms-input-placeholder {
  color: black;
}

.white-text.cacetada:hover {
  background-color: #A9A9A9;
}
