html {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 15px;
}
.brand-logo{
  margin-left: 1%;
}

.rodape {
  height: 229px;
  width: 100%;
  position: absolute;
}

.cabecalho {
    width: 100%;
}

.img-tam {
  width: 100%;
}
